@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Noto Serif SC', serif;
    background-color: #FDFDFD;
    color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
}
/* 美化滚动条 */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #e5e5e5; border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: #a3a3a3; }

.custom-radio:checked + div {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.writing-vertical-rl {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.writing-vertical-lr {
    writing-mode: vertical-lr;
    text-orientation: upright;
}
